.hidden,
div.format-option-mathematical-typesetting { 
  display: none;
}

div.geFormatSection-DiagramFormatPanel-addView,
div.geFormatSection-DiagramFormatPanel-addOptions,
div.geFormatSection-DiagramFormatPanel-addPaperSize,
div.geFormatSection-DiagramFormatPanel-addStyleOps {
  display: none;
}
div.geFormatSection-DiagramStylePanel-addView {
  display: none;
}

div[class*='geFormatSection-DiagramStylePanel'],
div[class*='geFormatSection-ArrangePanel'] {
  display: none;
}