.hidden,
div.format-option-mathematical-typesetting { 
  display: none !important;
}

div.geFormatSection-DiagramFormatPanel-addView,
div.geFormatSection-DiagramFormatPanel-addOptions,
div.geFormatSection-DiagramFormatPanel-addPaperSize,
div.geFormatSection-DiagramFormatPanel-addStyleOps {
  display: none;
}
div.geFormatSection-DiagramStylePanel-addView {
  display: none;
}

div[class*='geFormatSection-DiagramStylePanel'] {
  display: none;
}
div.geFormatSection-ArrangePanel-addTable,
div.geFormatSection-ArrangePanel-addGroupOps {
  display: none;
}

div.geFormatSection-StyleFormatPanel-addProperties,
div.geFormatSection-StyleFormatPanel-addEditOps,
div.geFormatSection-StyleFormatPanel-addEffects {
  display: none;
}

div.FormatPanel-gradientPanel,
div.FormatPanel-perimeterPanel {
  display: none;
}

div.TextFormatPanel-addFont-stylePanel, 
div.TextFormatPanel-LabelPosition,
div.TextFormatPanel-writingDirection {
  display: none;
}
div.geFormatSection-TextFormatPanel-addFont-extraPanel,
div.geFormatSection-BaseFormatPanel-createRelativeOption,
div.geFormatSection-TextFormatPanel-addFont-spacingPanel {
  display: none;
}

div.BaseFormatPanel-colorOption-background-color,
div.BaseFormatPanel-colorOption-border-color {
  display: none;
}